:root {
	--clr-primary: #9b5df7;
	--clr-primary-2: #763FC7;
	--clr-secondary: #5630E4;
	--clr-secondary-2: #4424B9;
	--clr-white: #F5F4F8;
	--clr-middle: #7E7E7E;
	--clr-dark: #1B1A1F;
	--clr-warning: #F6DB2D;
	--clr-error: #D53051;
	--clr-success: #97DA3F;
}

::selection {
	background-color: var(--clr-primary);
	color: var(--clr-white);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, button {
	font-family: Poppins, sans-serif;
	line-height: 1;
	font-weight: 900;
}

.main-container > h2 {
	text-align: center;
	margin-bottom: 1em;
	font-size: 2em;
}

.main-container > svg {
	display: block;
	margin: 0 auto 2em;
}

body {
	background-color: var(--clr-white);
	font-family: Raleway, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.main-container {
	width: 80%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 2em 0 3em;
}

.main-title {
	text-align: center;
	margin-bottom: 1em;
}

.admin-main-container {
	margin-left: 300px;
	padding: 2em 3em;
}

@media (max-width: 800px) {
	.admin-main-container {
		margin-left: 50px;
	}	
}

.label-select {
	margin-bottom: 3em;
	display: flex;
	align-items: center;
	justify-content: center;
}

.admin-h1 {
	text-transform: uppercase;
	font-size: 2em;
	font-weight: 700;
	color: var(--clr-primary-2);
	padding-bottom: .5em;
	margin-bottom: .7em;
	border-bottom: 1px solid #CCC;
}

.wrapper{
	width: 80%;
	max-width: 1200px;
	margin: 0 auto;
}