:root {
	--clr-primary: #9b5df7;
	--clr-primary-2: #763FC7;
	--clr-secondary: #5630E4;
	--clr-secondary-2: #4424B9;
	--clr-white: #F5F4F8;
	--clr-middle: #7E7E7E;
	--clr-dark: #1B1A1F;
	--clr-dark-1: #2C2F31;
	--clr-dark-2: #35383a;
	--clr-warning: #F6DB2D;
	--clr-error: #D53051;
	--clr-success: #97DA3F;
}

::selection {
	background-color: var(--clr-primary);
	color: var(--clr-white);
}

*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, button {
	font-family: Poppins, sans-serif;
	line-height: 1;
	font-weight: 900;
}

.main-container>h2 {
	text-align: center;
	margin-bottom: 1em;
	font-size: 2em;
}

.main-container>svg {
	display: block;
	margin: 0 auto 2em;
}

body {
	font-family: Raleway, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

#cartModal {
	z-index: 99;
	position: relative;
}

.main-container {
	width: 80%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 2em 0 3em;
	position: relative;
}

.main-title {
	text-align: center;
	margin-bottom: 1em;
}

.admin-main-container {
	margin-left: 300px;
	padding: 2em 3em;
}

@media (max-width: 800px) {
	.admin-main-container {
		margin-left: 50px;
	}
}

.label-select {
	margin-bottom: 3em;
	display: flex;
	align-items: center;
	justify-content: center;
}

.admin-h1 {
	text-transform: uppercase;
	font-size: 2em;
	font-weight: 700;
	color: var(--clr-primary-2);
	padding-bottom: .5em;
	margin-bottom: .7em;
	border-bottom: 1px solid #CCC;
}

.wrapper {
	width: 80%;
	max-width: 1200px;
	margin: 0 auto;
}

.button__top {
	pointer-events: none;
	opacity: 0;
	position: fixed;
	right: 50px;
	bottom: 50px;
	border: 0;
	padding: 1em;
	background: var(--clr-primary-2);
	color: var(--clr-white);
	z-index: 80;
	transition: opacity .2s ease;
	border-radius: 999em;
	cursor: pointer;
}

.button__top:hover {
	background: var(--clr-primary);
}

.button__top svg {
	fill: var(--clr-white);
	width: 30px;
	height: 30px;
}

/*--Login modal --*/

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 1000ms ease-in-out;
}

.ReactModal__Overlay--after-open{
	opacity: 1;

}

.ReactModal__Overlay--before-close{
	opacity: 0;
}

.ReactModal__Body--open .flex-form-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}


.ReactModal__Body--open .flex-form-container > div + div {
	margin-left: 3em;

}
@media (max-width: 1050px) {
	.ReactModal__Body--open .flex-form-container > div + div{
		margin: 1.5em 0 0;
	}
}

.ReactModal__Body--open .flex-form-container label {
	display: block;
	position: relative;
	width: 400px;
	color: var(--clr-primary-dark);
}	

.ReactModal__Body--open .flex-form-container label > span:not(.no-shadow){
	position: absolute;
	left: 1em;
	top: -.2em;
	padding: 0 .5em;
	font-weight: 900;
	font-size: .9em;
}

.ReactModal__Body--open .flex-form-container label > input, textarea {
	font: inherit;
	font-size: .8em;
	padding: 1em;
	border: 3px solid var(--clr-primary-dark);
	border-radius: .4em;
	width: 100%;
	transition: box-shadow .2s ease;
	outline: none;
}

.ReactModal__Body--open .flex-form-container label > textarea {
	line-height: 1.6;
}

.ReactModal__Body--open .flex-form-container label:not(no-shadow)::after{
	content: '';
	position: absolute;
	top: 5px;
	bottom: -5px;
	left: 5px;
	width: 100%;
	border-radius: .4em;
	background: var(--clr-primary-dark);
	opacity: 0.15;
	transition: opacity .2s ease;
	z-index: -1;
}

.ReactModal__Body--open .flex-form-container label:focus-within::after {
	opacity: 1;
}

.ReactModal__Body--open .flex-form-container label + label {
	margin-top: 2em;
}

.ReactModal__Body--open .flex-form-container input, textarea {
	width: 100%;
	display: block;
	border: 0;
	font: inherit;
	padding: .5em;
	border: 3px solid var(--clr-primary-dark);
	border-radius: .3em;
	margin-top: .3em;
}

.ReactModal__Body--open .flex-form-container input, textarea:focus{
	border-color: var(--clr-primary-dark);
}

.ReactModal__Body--open .flex-form-container  textarea {
	min-height: 180px;
	height: 100%;
	margin-bottom: .5em;
}

.ReactModal__Body--open .button{
	display: block;
	position: absolute;
	top: 10px;
	right: 10px;
	background: none;
	border: none;
	width: 30px;
	height: 30px;
}

.ReactModal__Body--open .button:hover{
	cursor: pointer;
}

.ReactModal__Body--open .button svg {
	fill: currentColor;
	width: 30px;
	height: 30px;
	transition: fill .2s ease-in-out;
}

.ReactModal__Body--open .button svg:hover {
	fill:var(--clr-primary);
}
.ReactModal__Body--open .button svg:active {
	transform: scale(0.9);
}

.ReactModal__Body--open .flex-form-container .submit{
	border-radius: 10px;
	color: var(--clr-primary-dark);
	font-size: 1em;
	text-align: center;
	padding: 0.5em;
	font-weight: 600;
	background-color: transparent;
	border: 2px solid var(--clr-primary-dark);
	margin: 1em 0;
}
.ReactModal__Body--open .submit:hover{
	color: var(--clr-primary);
	border-color: var(--clr-primary);
	cursor: pointer;
	box-shadow: 0 0 15px var(--clr-secondary);
}

@media (max-width: 1050px) {
	.ReactModal__Body--open .flex-form-container {
		display: block;
	}
}

@media (max-width: 480px) {
	.ReactModal__Body--open .flex-form-container input {
		width: 100%;
	}
	
	.ReactModal__Body--open .flex-form-container {
		width: 100%; 
		justify-content: center;
	}
	.ReactModal__Body--open .flex-form-container label {
		width: 70vw; 
		justify-content: center;
	}
	.ReactModal__Body--open .contact__info {
		width: 300px; 
	}
}
/*--------------------------------------*/